.myCar{
    width: 1200px;
    margin: 30px auto;
    background-color: thistle;
}
.myCarContent{
    width: 1200px;
    margin-top: 30px;
}
.myCarList{
    width: 843px;
}
.myCarListTop{
    width: 100%;
    background-color: tomato;
}
.myCarListTopC input{
   margin-left: 20px;
}
.myCarListTopC ul li{
    width: 200px;
    height: 30px;
    line-height: 30px;
}

.carListLogo{
    width: 100%;
    height: 40px;
    background-color: #cccccc;
    color: white;
    font-size: 24px;
    line-height: 40px;
}
.myCarList{
   
    width: 843px; 
}
.myCarListItem{
    
    width: 100%;
    background-color: violet;
}
.myCarListItemWrap input{
  width: 15px;
  height: 15px;
  vertical-align: top;
}
.myCarListItemWrap{
    width: 800px;
    background-color: teal;
    padding: 20px 20px;
}

.myCarItemText{
    margin-left: 20px;
}
.listItemcount{
    vertical-align: top;
    width: 110px;
    height: 32px;
    background-color: aqua;
    display: inline-block;
    margin: 0 120px;
    border: 1px solid #cccccc;
}
.listItemcount div{
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    width: 32px;
    height: 32px;
   
}
.listItemcount div:nth-child(2){
    width: 42px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


.myCarOrder{
    width: 317px;
padding: 20px;
    /* height: 300px; */
   background-color: #f5f5f5;
    vertical-align: top;
}
.myCarWrap{
    background-color: #f5f5f5;
   
    overflow: hidden;
}
.orderTitle{
    margin-bottom: 10px;
}
.orderTitle p{
    line-height: 20px;
}
.orderTitle p:nth-child(2){
    float: right;
   
}
.orderPrice{
    width: 310px;
    height: 50px;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    border-top:  1px solid #ccc;
}
.orderPrice div{
    width: 310px;
    overflow: hidden;
}
.orderPrice div p{
    line-height: 25px;
}
.cheapCode{
    overflow: hidden;
    padding: 10px 0px;
}
.cheapCode input{
    width: 240px;
    height: 32px;
   
}
.cheapCode span{ 
    float: right;
    width: 50px;
    height: 32px;
    color: #042f6a;
    border: 1px solid;
    vertical-align: top;
    line-height: 32px;
    text-align: center;
}
.loginLink{
    padding: 10px 0px;
}
.orderTotal{
    margin: 10px;
    overflow: hidden;
    padding: 20px 20px 20px 20px;
    border-top: 1px solid #ccc;
}
